@charset "utf-8";
.weatherblock {
    display: block;
    position: absolute;
    width: 400px;
    height: 350px;
    margin-left: 34%;
    margin-top: 5%;
    float: left;
    background-image: url(../icons/trans.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    border-radius: 30px;
}

td:first-child {
    font-size: 20px;
    color: #4364E1;
    font-weight: bolder;
}

td:nth-child(2) {
    text-shadow: 2px 2px 2px black;
    font-weight: bolder;
}

.brokenclouds04n04d {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 130px;
    float: right;
    background-image: url(../icons/icons.gif);
    background-position: -320px -128px;
}

.lightrain10d {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 130px;
    float: right;
    background-image: url(../icons/icons.gif);
    background-position: -320px -35px;
}

.skyisclear01d {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 130px;
    float: right;
    background-image: url(../icons/icons.gif);
    background-position: -330px -880px;
}

.snow13d {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 130px;
    float: right;
    background-image: url(../icons/icons.gif);
    background-position: -190px -40px;
}

.scatteredclouds03d {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 130px;
    float: right;
    background-image: url(../icons/icons.gif);
    background-position: -48px -120px;
}

.lightrain10n {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 130px;
    float: right;
    background-image: url(../icons/icons.gif);
    background-position: -450px -896px;
}

.fewclouds02d {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 130px;
    float: right;
    background-image: url(../icons/icons.gif);
    background-position: -200px -555px;
}

.fewclouds02n {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 130px;
    float: right;
    background-image: url(../icons/icons.gif);
    background-position: -330px -466px;
}

.thunderstorm11n11d {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 130px;
    float: right;
    background-image: url(../icons/icons.gif);
    background-position: -450px -466px;
}

.heavyrain09d09n {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 130px;
    float: right;
    background-image: url(../icons/icons.gif);
    background-position: -450px -566px;
}

.fog50n50d {
    width: 100px;
    height: 95px;
    position: absolute;
    margin: 20px 0px 0px 140px;
    float: right;
    background-image: url(../icons/fog.png);
    background-size: contain;
}

header {
    background-image: url(../icons/logo.png);
    width: 70%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 15%;
}

.weather {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin-top: 130px;
    width: 300px;
    height: 150px;
    margin-left: -30px;
    color: MidnightBlue;
    font-weight: 600;
}

#raw_json {
    color: indigo;
}

table {
    position: relative;
    margin-left: 50px;
    margin-top: 100px;
}

.temp {
    padding-left: 3px;
    color: orange;
}

.persent {
    padding-left: 3px;
    color: cyan;
}

.preasure {
    padding-left: 3px;
    color: lightblue;
}

td:last-child {
    color: white;
}

#city {
    margin-top: 5px;
    color: #7418CD;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 2px black;
}

.imgbutton {
    background-image: url(../icons/GrayRoundedButton.png);
    background-size: contain;
    width: 220px;
    height: 50px;
    background-repeat: no-repeat;
    border-radius: 25px;
    float: left;
    margin-top: 420px;
    margin-left: 41.5%;
    color: black;
    font: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

.imgbutton:hover {
    color: white;
}

#weathericon {
    margin-top: -100px;
    margin-left: 100px;
}

#date {
    color: white;
    font: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    margin-left: 50px;
}