@charset "utf-8";
body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../images/main-background.jpg);
    text-align: center;
}
.head {
    background-image: url(../icons/logo.png);
    width: 300px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
.img {
    height: 200px;
    width-max: 100%;
    float: left;
    position: relative;
    border-radius: 10px;
    border-collapse: collapse;
}
ul {
    list-style: none;
    margin-top: 5px;
    float: left;
}
.divlist {
    display: inline-block;
    margin-top: -300px;
    margin-left: 80px;
    width: 250px;
    height: 250px;
    float: left;
}
#list {
    display: none;
}
.menu5 {
    margin-left: -30px;
    display: inline-block;
    background-image: url(../images/5days-notanimated.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    margin-bottom: 2px;
    float: left;
    margin-top: 110px;
    border: 3px solid gray;
    border-radius: 50%;
}
.menu16 {
    margin-left: 10px;
    display: inline-block;
    background-image: url(../images/16day-not-animated.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    margin-bottom: 2px;
    float: left;
    margin-top: 110px;
    border: 3px solid gray;
    border-radius: 50%;
}
.menu5-press {
    margin-left: -30px;
    display: inline-block;
    background-image: url(../images/5days-animated.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    margin-bottom: 2px;
    float: left;
    margin-top: 110px;
    border: 3px solid gray;
    border-radius: 50%;
}
.menu16-press {
    margin-left: 10px;
    display: inline-block;
    background-image: url(../images/16day-animated.png);
    background-size: contain;
    ;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    margin-bottom: 2px;
    float: left;
    margin-top: 110px;
    border: 3px solid gray;
    border-radius: 50%;
}
.menu5:hover,
.menu16:hover {
    border: 3px solid lime;
    -webkit-border: 3px solid lime;
}
/*All styling for the carousel gallery*/

#carousel {
    display: none;
    width: 300px;
    height: 200px;
    padding: 50px;
    background-image: url(../images/mate.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    float: left;
    margin-top: 100px;
}
h1 {
    margin-top: 210px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-right: 100px;
    text-shadow: 2px 2px 2px black;
}
h2 {
    margin-top: -10px;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-right: 100px;
    text-shadow: 2px 2px 2px black;
}
.cloudcarousel {
    border-radius: 15px;
    border: 2px solid deepskyblue;
}
.cloudcarousel:hover {
    -o-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}
/*End of carousel gallery*/
.button {
    border: 7px solid gray;
    border-radius: 50%;
    width: 82px;
    height: 82px;
    display: block;
    margin-bottom: 10px;
}
.button:first-child {
    margin-top: 110px;
}
.imgbutton {
    margin-left: -11px;
    margin-top: -6px;
    background-repeat: no-repeat;
}
.button:hover {
    border: 7px solid lime;
    -webkit-border: 5px solid lime;
}
#allweather {
    border-radius: 15px;
    margin-top: 14%;
    background-image: url(../images/gray.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    display: block;
    height: 530px;
    width: 37%;
    margin-right: 6%;
}
#weatherTable5,
#weatherTable16 {
    color: white;
    width: 100%;
}
.input-container {
    background-image: url(../images/trans.png);
}
.menubuttons {
    width: 100px;
    height: 400px;
}
.icon5 {
    margin-left: 10%;
    margin-top: 2%;
}
.icon16 {
    margin-top: 3%;
    margin-left: 15%;
}
#weather5 {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}
#weather5 ul {
    position: relative;
    margin: 0;
    padding-top: 5px;
    height: 445px;
    list-style: none;
}
#weather5 ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 150px;
    text-align: center;
    line-height: 10px;
}
a.control_prev,
a.control_next {
    position: absolute;
    top: 35%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
}
a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}
a.control_next {
    right: 0;
}
.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}
#weather16 {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}
#weather16 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 450px;
    list-style: none;
}
#weather16 ul li {
    position: relative;
    display: block;
    float: left;
    margin-top: 5px;
    padding: 0;
    width: 500px;
    height: 150px;
    text-align: center;
    line-height: 5px;
    font-size: 14px;
}
#city {
color:white;
height:30px;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:18px;
font-weight:900;
}
#btnGetWeather16,
#btnGetWeather5 {
    border-radius: 30px;
    width: 75px;
    height: 25px;
    color: #363636;
    font-weight: bold;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#inputCityName16,
#inputCityName5 {
    border-radius: 30px;
    border: 3px solid gray;
    width: 50%;
    height: 20px;
    background-color: #3C3C3C;
    color: white;
    text-align: center;
}
input {
    color: white;
    font-weight: bold;
}
label {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
}
.temp {
    padding-left: 3px;
    color: orange;
}
.percent {
    padding-left: 3px;
    color: cyan;
}
.preasure {
    padding-left: 3px;
    color: lightblue;
}
.date {
    color: #00BBF4;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
}
.date5 {
    color: #00BBF4;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-weight: 900;
    font-size: 18px;
}
p {
    color: white;
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-weight: 900;
    font-size: 14px;
}
.description {
    color: yellow;
}