@charset "utf-8";
body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../images/umbrella.jpg);
    text-align: center;
       }
 .head{background-image:url(../icons/logo.png);
 width:70%;
 height:200px;
 background-size:contain;
 background-repeat:no-repeat;
 background-position: center center ;
 margin-left:15%;

}

.img{
height:200px;
width-max:100%;
float:left;
position:relative;
border-radius:10px;
border-collapse:collapse;
}

ul{list-style:none;
margin-top:5px;
float:left;}
.divlist{
display:block;
margin-top:-300px;
margin-left:80px;
width:130px;
height:250px;
float:left;}
#list{display:none;}
.menu{margin-left:-40px;
display:block;
background-image:url(../icons/led-rounded-h-green-300px.png);
background-size:contain;
background-repeat:no-repeat;
text-align:center;
padding-top:15px;
color:black;
width:130px;
height:50px;
margin-bottom:2px;
float:left;
}
.menu:hover{
margin-left:-40px;
display:block;
background-image:url(../icons/led-rounded-h-orange-300px.png);
background-size:contain;
background-repeat:no-repeat;
text-align:center;
padding-top:15px;
color:black;
width:130px;
height:50px;
margin-bottom:2px;
float:left;}



/*All styling for the carousel gallery*/
#carousel{display:none;
	width:30%;
	height:200px;
	padding:50px;
	margin-left:-47px;
	background-image:url(../images/mate.png);
   background-repeat:no-repeat;
    background-size:cover;
	border-radius:15px;
	float:left;
	margin-top:-30px;
}
h1{margin-top:210px;
font-size:18px;
color:white;
font-weight:bold;
text-align:center;
margin-left:-60px;
}
h2{margin-top:-10px;
font-size:12px;
color:white;
text-align:center;
margin-left:-60px;}

 .cloudcarousel{border-radius:15px;
 border:2px solid deepskyblue;}
 .cloudcarousel:hover{-o-transform: scale(1.4,1.4); 
-moz-transform: scale(1.4,1.4); 
-webkit-transform: scale(1.4,1.4);
 transform: scale(1.4,1.4);
}
.button{border: 7px solid gray;
border-radius:50%;
width:82px;
height:82px;
display:block;
margin-bottom:10px;
}
.button:first-child{margin-top:100px;}
.imgbutton{
	margin-left:-11px;
	margin-top:-6px;
	background-repeat:no-repeat;}
.button:hover{border:7px solid lime;
-webkit-border:5px solid lime;}
#allweather{
    background-image:url(../images/mate.png);
    background-repeat:no-repeat;
    background-size:cover;
height:500px;
width:37%;
margin-left:38.7%;
margin-top:-23%;
border-radius:15px;
}
#weatherTable5,#weatherTable16{color:white;
}
.menubuttons{width:100px;
height:400px;
margin-top:-10%;}

.brokenclouds04n04d{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 130px;
float:right;
background-image:url(../icons/icons.gif);
background-position:-320px -128px;}
.lightrain10d{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 130px;
float:right;
background-image:url(../icons/icons.gif);
background-position:-320px -35px;}
.skyisclear01d{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 130px;
float:right;
background-image:url(../icons/icons.gif);
background-position:-330px -880px;}
.snow13d{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 130px;
float:right;
background-image:url(../icons/icons.gif);
background-position:-190px -40px;}
.scatteredclouds03d{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 130px;
float:right;
background-image:url(../icons/icons.gif);
background-position:-48px -120px;}
.lightrain10n{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 130px;
float:right;
background-image:url(../icons/icons.gif);
background-position:-450px -896px;}
.fewclouds02d{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 130px;
float:right;
background-image:url(../icons/icons.gif);
background-position:-200px -555px;}
.fewclouds02n{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 130px;
float:right;
background-image:url(../icons/icons.gif);
background-position:-330px -466px;}
.thunderstorm11n11d{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 130px;
float:right;
background-image:url(../icons/icons.gif);
background-position:-450px -466px;}
.heavyrain09d09n{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 130px;
float:right;
background-image:url(../icons/icons.gif);
background-position:-450px -566px;}
.fog50n50d{width:100px;
height:95px;
position:absolute;
margin:20px 0px 0px 140px;
float:right;
background-image:url(../icons/fog.png);
background-size:contain;

}