@charset "utf-8";
body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../images/umbrella2.jpg);
    text-align: center;
       }
 .head{background-image:url(../icons/logo.png);
 width:700px;
 height:200px;
 background-size:contain;
 background-repeat:no-repeat;
 float:right;
 padding-right:400px;
 margin-top:-100px;}

.img{
height:200px;
width-max:100%;
float:left;
position:relative;
border-radius:10px;
border-collapse:collapse;
}

ul{list-style:none;
margin-top:5px;
float:left;}
.divlist{
display:block;
margin-top:-270px;
margin-left:80px;
width:130px;
height:250px;
float:left;}
#list{display:none;}
.menu{margin-left:-40px;
display:block;
background-image:url(../icons/led-rounded-h-green-300px.png);
background-size:contain;
background-repeat:no-repeat;
text-align:center;
padding-top:15px;
color:black;
width:130px;
height:50px;
margin-bottom:2px;
float:left;
}
.menu:hover{
margin-left:-40px;
display:block;
background-image:url(../icons/led-rounded-h-orange-300px.png);
background-size:contain;
background-repeat:no-repeat;
text-align:center;
padding-top:15px;
color:black;
width:130px;
height:50px;
margin-bottom:2px;
float:left;}



/*All styling for the carousel gallery*/
#carousel{display:none;
	margin-top:10px;
	width:350px;
	height:200px;
	padding:50px;
	margin-left:-47px;
	background-image:url(../icons/trans.png);
	border-radius:30px;
	float:left;
	clear:both;
}
h1{margin-top:210px;
font-size:18px;
color:white;
font-weight:bold;
text-align:center;
margin-left:-60px;
}
h2{margin-top:-10px;
font-size:12px;
color:white;
text-align:center;
margin-left:-60px;}

 .cloudcarousel{border-radius:15px;
 border:2px solid deepskyblue;}
 .cloudcarousel:hover{-o-transform: scale(1.4,1.4); 
-moz-transform: scale(1.4,1.4); 
-webkit-transform: scale(1.4,1.4);
 transform: scale(1.4,1.4);
}
.button{border: 5px solid gray;
border-radius:50%;
width:80px;
height:80px;
display:block;
margin-bottom:10px;
}
.button:first-child{margin-top:100px;}
.imgbutton{
	margin-left:-9px;
	margin-top:-5px;
	background-repeat:no-repeat;}
.button:hover{border:5px solid lime;
-webkit-border:5px solid lime;}
#allweather{
    background-image:url(../images/trans.png);
height:500px;
width:500px;
float:fixed;
margin-left:410px;
margin-top:-250px;
border-radius:15px;
}
#weatherTable5,#weatherTable16{color:white;

}